.div__fundo{
    background: linear-gradient(to right bottom, #a127ff, #0090ff, #00bcff, #00d8dd, #12eb96);
    width: 400px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p__center{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}